@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  padding: 100px;
}

.title{
  justify-content: space-between;
}

.title > a{
  color: #BE123C;
  text-decoration: none;
}

.card{
  width: 220px;
  gap: 12px;
}

.gray{
  color: #9CA3AF;
}
