@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  padding: 0 100px;
}

nav{
  justify-content: space-between;
}

.logo{
  gap: 16px;
}

.menu{
  border: none;
  background: #BE123C;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
}

nav a{
  color: white;
}

.movies{
  gap: 56px;
}

.title{
  justify-content: space-between;
}

.link{
  color: #BE123C;
  gap: 12px;
}

.link a{
  color: #BE123C;
  text-decoration: none;
}

.card{
  width: 220px;
  gap: 12px;
  position: relative;
  transition: all 200ms;
}

.gray{
  color: #9CA3AF;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  background: #9ca3afa2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  text-align: center;
}