@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
  width: 100%;
}

.heroSection{
  background: url('/public/Poster.png');
  color: white;
  height: 75vh;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.heroSection > section{
  height: 65vh;
  justify-content: space-between;
  padding: 0 30px;
}

nav{
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  gap: 16px;
}

.logo h1{
  font-size: 18px;
  color: white;
}

button{
  padding: 8px 16px;
  border: none;
  background: #BE123C;
  color: white;
}

.menu{
  padding: 4px 8px;
  border-radius: 50%;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.details{
  padding-left: 70px;
}

.current{
  font-weight: bold;
}

.movies{
  padding: 0 75px;
}

.movieGrid {
  gap: 78px;
}

.title{
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.link{
  color: #BE123C;
  gap: 12px;
}

.link a{
  color: #BE123C;
  text-decoration: none;
}

.card{
  width: 225px;
  gap: 12px;
  position: relative;
  transition: all 200ms;
}

.card > *{
  color: #000;
  text-decoration: none;
}

.poster{
  width: 100%;
}

.gray{
  color: #9CA3AF;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.icon{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: #9CA3AF;
  color: white;
  padding: 6px 8px;
  border-radius: 50%;
}

.movieDetails> div{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9CA3AF;
  align-self:safe;
}

.overlay{
  position: absolute;
  background: #9ca3afa2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  text-align: center;
}

.ratings{
  gap: 8px;
  align-items: baseline;
}

footer{
  flex-direction: column;
  gap: 36px;
}

footer > *{
  gap: 36px;
}

.sidebar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 32px;
  color: #000;
  border-right: 2px solid #9CA3AF;
  border-radius: 0 32px 32px 0;
}

.clear{
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
}

.alert{
  background: #be123d3d;
}

@media screen and (max-width:768px) {
  nav,
  .details{
    padding: 0 24px;
  }
  .clear{
    left: 100px;
  }
  .sidebar{
    width: 100px;
  }
  .mIcon{
    color: #BE123C;
    font-size: 24px;
  }
}